@tailwind base;
@tailwind components;
@tailwind utilities;

.text {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    color: white;
}

.text2 {
    font-size: 20px;
    font-weight: 600;
    color: black;
    /* margin-bottom: 10px; */
}

.btn {
    background-color: black;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .btn {
        background-color: black;
        padding: 30px;
        width: 30%;
        border-radius: 10px;
        text-align: center;
        color: #fff;
    }
}

.embla {
    overflow: hidden;
}
.embla__container {
    display: flex;
}
.embla__slide {
    flex: 0 0 25%;
    min-width: 0;
}

/*media query for embla slide for mobile screens*/
@media (max-width: 768px) {
    .embla__slide {
        flex: 0 0 100%;
        min-width: 0;
    }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
